/* line 6, ../stylesheets/style_guide.css.scss */
.page-body nav {
  width: 200px;
  float: left;
}
/* line 11, ../stylesheets/style_guide.css.scss */
.page-body .content {
  width: 80%;
  float: right;
}
/* line 15, ../stylesheets/style_guide.css.scss */
.page-body nav + h1 {
  width: 80%;
  float: right;
}

/* line 23, ../stylesheets/style_guide.css.scss */
nav ul {
  list-style-type: none;
  padding: 0;
}
/* line 29, ../stylesheets/style_guide.css.scss */
nav > ul li {
  margin-left: 20px;
}
/* line 33, ../stylesheets/style_guide.css.scss */
nav > ul > li {
  margin-left: 0;
}

/* line 40, ../stylesheets/style_guide.css.scss */
.chip .chip-color {
  min-height: 100px;
}
/* line 43, ../stylesheets/style_guide.css.scss */
.chip .chip-color-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 51, ../stylesheets/style_guide.css.scss */
.marquee {
  min-height: 400px;
}

/* line 54, ../stylesheets/style_guide.css.scss */
.marquee-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 63, ../stylesheets/style_guide.css.scss */
.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto;
}

/* line 69, ../stylesheets/style_guide.css.scss */
.content {
  margin-top: 5px;
}

/* line 74, ../stylesheets/style_guide.css.scss */
.main > h1 {
  margin-top: 30px;
}

/* line 78, ../stylesheets/style_guide.css.scss */
.main > h1:first-child {
  margin-top: 0;
}

/* line 82, ../stylesheets/style_guide.css.scss */
footer {
  margin-top: 20px;
  text-align: center;
}

/* line 88, ../stylesheets/style_guide.css.scss */
.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

/* line 94, ../stylesheets/style_guide.css.scss */
blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

/* line 99, ../stylesheets/style_guide.css.scss */
blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  margin: 10px 0;
  padding: 5px;
}

/* line 110, ../stylesheets/style_guide.css.scss */
code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 119, ../stylesheets/style_guide.css.scss */
div.codeExample, div.jsExample {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

/* line 125, ../stylesheets/style_guide.css.scss */
div.jsExample {
  border-top: 0px;
}

/* line 129, ../stylesheets/style_guide.css.scss */
div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

/* line 141, ../stylesheets/style_guide.css.scss */
div.codeExample:before {
  content: "Example";
  background-color: #f9f9f9;
  width: 60px;
  top: -1px;
  left: -1px;
}

/* line 149, ../stylesheets/style_guide.css.scss */
div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

/* line 157, ../stylesheets/style_guide.css.scss */
div.codeBlock, div.exampleOutput {
  padding: 10px;
}

/* line 161, ../stylesheets/style_guide.css.scss */
div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 168, ../stylesheets/style_guide.css.scss */
.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

/* line 176, ../stylesheets/style_guide.css.scss */
.codeExample .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

/* line 187, ../stylesheets/style_guide.css.scss */
table {
  width: 100%;
}

/* line 191, ../stylesheets/style_guide.css.scss */
table td, table th {
  padding: 7px;
  border: 1px solid #ccc;
}

/* line 198, ../stylesheets/style_guide.css.scss */
.grid-show {
  outline: 1px solid #34928A;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 202, ../stylesheets/style_guide.css.scss */
.grid-show [class*=col] {
  background-color: #72B5AD;
  padding: 10px;
  outline: 1px solid #34928A;
}

/* line 211, ../stylesheets/style_guide.css.scss */
.styleguide-form {
  background-color: #F8F8F8;
  padding: 25px;
}

/* line 218, ../stylesheets/style_guide.css.scss */
.banner-styleguide-wrapper {
  position: relative;
  border: 2px solid #EDEDED;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
/* line 224, ../stylesheets/style_guide.css.scss */
.banner-styleguide-wrapper .banner {
  position: absolute;
}

/* line 230, ../stylesheets/style_guide.css.scss */
.exampleOutput .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  opacity: 1;
}
/* line 240, ../stylesheets/style_guide.css.scss */
.exampleOutput .modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 246, ../stylesheets/style_guide.css.scss */
.bkg-highlight-2 {
  background-position: 0 50%;
}
