/* line 3, ../src/sass/user_account.css.scss */
html {
  background: url('/assets/images/bg-plain.jpg?1396911470') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 11, ../style_guide_assets/stylesheets/user_account.css.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0, 1px, #333333;
  color: #FFFFFF;
  font-weight: 300;
}

/* line 18, ../style_guide_assets/stylesheets/user_account.css.scss */
a {
  text-decoration: none;
  color: #FFFFFF;
}
/* line 21, ../style_guide_assets/stylesheets/user_account.css.scss */
a:hover {
  color: #b9e2f5;
}

/* line 26, ../style_guide_assets/stylesheets/user_account.css.scss */
.intro-text {
  font-size: 16px;
}

/* line 30, ../style_guide_assets/stylesheets/user_account.css.scss */
.button-alt a {
  font-size: 14px;
  margin: 0 0 0 12px;
}

/* line 35, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash {
  background: url('/assets/images/bg-pattern.png?1396911470') no-repeat;
  margin: 32px auto 0 auto;
  width: 1023px;
  height: 672px;
}

/* line 42, ../style_guide_assets/stylesheets/user_account.css.scss */
.logo {
  border: 0;
  margin: 58px 0 13px 231px;
}

/* line 47, ../style_guide_assets/stylesheets/user_account.css.scss */
.small {
  color: #b9e2f5;
  font-size: 11px;
}

/* line 52, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box {
  width: 450px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #1c94db;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c94db), color-stop(100%, #03396c));
  background-image: -webkit-linear-gradient(top, #1c94db, #03396c);
  background-image: -moz-linear-gradient(top, #1c94db, #03396c);
  background-image: -o-linear-gradient(top, #1c94db, #03396c);
  background-image: linear-gradient(top, #1c94db, #03396c);
  border: 5px solid rgba(152, 178, 198, 0.9);
}

/* line 63, ../style_guide_assets/stylesheets/user_account.css.scss */
.container {
  margin: 33px;
  text-align: left;
}

/* line 68, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank {
  color: #333;
  text-shadow: none;
  font-size: 14px;
  padding: 0 174px 0 328px;
  margin: 0 auto;
  text-align: center;
}
/* line 76, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank a {
  color: #0099d6;
}
/* line 78, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank .container {
  margin: 0 0 108px;
}
/* line 80, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank .intro-text {
  color: #003a69;
  text-shadow: 0, -1px, white;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 148px 0 3px;
  text-transform: uppercase;
}
/* line 90, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank .smaller {
  font-size: 36px;
}
/* line 94, ../style_guide_assets/stylesheets/user_account.css.scss */
.splash-box-blank p {
  line-height: 1;
  text-align: left;
}

/* line 102, ../style_guide_assets/stylesheets/user_account.css.scss */
input[type="text"],
input[type="password"],
input[type="email"] {
  color: #FFFFFF;
  font-size: 13px;
  background: #2b2c31;
  background-repeat: no-repeat;
  border: none;
  width: 280px;
  height: 38px;
  border-radius: 6px;
  padding: 0 0 0 20px;
  margin: 0 0 9px 0;
}

/* line 115, ../style_guide_assets/stylesheets/user_account.css.scss */
input::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* line 120, ../style_guide_assets/stylesheets/user_account.css.scss */
.control-group.error input::-webkit-input-placeholder,
:focus::-webkit-input-placeholder {
  color: #666666;
  font-weight: 200;
}

/* line 125, ../style_guide_assets/stylesheets/user_account.css.scss */
:input:-moz-placeholder {
  color: #FFFFFF;
  font-weight: 200;
}

/* line 131, ../style_guide_assets/stylesheets/user_account.css.scss */
.control-group.error :input:-moz-placeholder,
:focus::-moz-placeholder {
  color: #666666;
  font-weight: 200;
}

/* Hack to remove Safari's extra padding */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 138, ../style_guide_assets/stylesheets/user_account.css.scss */
  .input input, .input textarea, .input select {
    padding: 4px;
  }
}
/* line 143, ../style_guide_assets/stylesheets/user_account.css.scss */
.footer {
  font-size: 12px;
  color: #333333;
  text-shadow: none;
  font-weight: 400;
  padding: 0 0 28px;
  margin: 28px 248px 0 0;
  text-align: right;
}

/* line 154, ../style_guide_assets/stylesheets/user_account.css.scss */
.user_registrations .close {
  display: none;
}

/* line 160, ../style_guide_assets/stylesheets/user_account.css.scss */
.confirmation .alert {
  margin: 9px 0;
  width: 100%;
}
/* line 164, ../style_guide_assets/stylesheets/user_account.css.scss */
.confirmation p {
  line-height: 1.25;
  width: 75%;
}
