<% if (!_.isEmpty(credentials)) { %>
  <table class="table table-striped table-bordered">
  <% _.each(credentials, function(value, key) { %>
    <tr>
      <td><%= key %></td>
      <td><input class="form-control input-sm auto-select" value="<%= value %>" readonly="readonly" data-behavior="AutoSelect" /></td>
    </tr>
  <% }) %>
  </table>
<% } else { %>
<p>No credentials found.</p>
<% } %>
